<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Jasmine Spec Runner v2.0.0</title>

  <link rel="shortcut icon" type="image/png" href="lib/jasmine-2.0.0/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="lib/jasmine-2.0.0/jasmine.css">

  <script type="text/javascript" src="lib/jasmine-2.0.0/jasmine.js"></script>
  <script type="text/javascript" src="lib/jasmine-2.0.0/jasmine-html.js"></script>
  <script type="text/javascript" src="lib/jasmine-2.0.0/boot.js"></script>

  <!-- include library files here... -->
  <script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="lib/underscore-min.js"></script>
  <script type="text/javascript" src="lib/backbone.js"></script>
  <script type="text/javascript" src="lib/handlebars.js"></script>
  
  <!-- include source files here... -->
  <script type="text/javascript" src="src/app.js"></script>
  <style>
    img {
      width: 100px;
    }
  </style>
</head>

<body>
<script id="rolodex-template" type="text/x-handlebars-template">
  {{#each people}}
    <img src="{{imgUrl}}">
  {{/each}}
</script>
<!-- include spec files here... -->
  <script type="text/javascript" src="spec/ModelSpec.js"></script>
</body>
</html>
